<div class='outer-container'>
  <div class='inner-container'>
    <div class='image-container'>
      <img src='../../assets/logo.jpeg' alt="Game Logo">
    </div>
    <!--image-container-->
    <div class='title-links-container'>
      <div class="title-container">
        <span class="tittle">
          <span class='red'>Red</span>
          &
          <span class='green'>Green</span>
          Game
        </span>
      </div>
      <!--title-container-->
      <div class='links-container'>
        <a routerLink="/welcome" routerLinkActive="active">Welcome</a>
        <a routerLink="/game" routerLinkActive="active">Play</a>
        <a routerLink="/score" routerLinkActive="active">Score</a>
        <a routerLink="/rules" routerLinkActive="active">Rules</a>
      </div>
      <!--links-container-->
    </div>
    <!--title-links-container-->

  </div>
  <!--inner-container-->
</div> <!-- outer-container-->
