.container {
  border: 2px black solid;
  width: 50%;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

span {
  margin-right: 0.5rem;
}

.guess-container {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  padding-left: 1rem;
}

.guess {
  width: 60%;
}

.green {
  width: 20%;
}

.red {
  width: 20%;
}

.message-container {
  display: flex;
  height: 4rem;
  align-items: center;
  padding-left: 1rem;
}

.message {}


@media (min-width: 375px) {
  .container {
    border: 2px black solid;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .guess-container {
    height: 2rem;

    span {
      margin-right: 0.1rem;
    }
  }

  .guess {
    width: 45%;
  }

  .green {
    width: 30%;
  }

  .red {
    width: 25%;
  }

  .message-container {
    // display: flex;
    height: 1rem;
    // align-items: center;
    padding: 1rem;
  }
}
