<div class="container">
  <div class="guess-container">
    <div class="guess">
      <span>Guess:</span>
      {{guessObject.guess}}
    </div>
    <!--guess-->
    <div class="green">
      <span>Greens:</span>
      {{guessObject.green}}
    </div>
    <!--green-->
    <div class="red">
      <span>Reds:</span>
      {{guessObject.red}}
    </div>
    <!--red-->
  </div>
  <!--guess-container-->
  <div class="message-container">
    <div class="message">
      {{guessObject.message}}
    </div>
  </div>
  <!--message-->









</div>
<!--container-->
